body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;

}
a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part {
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.page-title {
    color: #ffffff;
    font-weight: 700px;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;
    width: 1440px;
    height: 600px;
    background-color: #2e2f42;
}