body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;

}
a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.header {
    display: inline-block;
    width: 1440px;
    height: 72px;
}

.logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part {
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.page-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
    width: 1440px;
    height: 600px;
    background-color: #2e2f42;
    display: block;
}

.page-title .button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #fff;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}

.page-title .button:hover,
.page-title .button:focus {
    background: #404bbf;
}

.section2 .section2-part {
    display: table-cell;
}

.section2 .section2-title {
    font-weight: medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    color: #2e2f42;
}

.section2 .section2-text {
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}

.team {
    width: 1440px;
    height: 732px;
    background: #f4f4fd;
}

.team .team-card {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    display: inline-block;
}

.team .team-photo {
    border: 1px solid #000;
    width: 264px;
    height: 260px;
}

.team .team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 2%;
    text-align: center;
    color: #2e2f42;
}

.team .team-name {
    font-weight: medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    text-align: center;
    color: #2e2f42;
}

.team .team-position {
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    color: #434455;
}

.portfolio .portfolio-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 2%;
    text-align: center;
    color: #2e2f42;
    width: 1440px;
}

.portfolio .portfolio-part1,
.portfolio .portfolio-part2 {
    display: flex;
    width: 1128px;
    height: 420px;
}

.portfolio .portfolio-pictures {
    width: 360px;
    height: 300px;
}

.portfolio .portfolio-card {
    width: 360px;
    height: 420px;
    background: #fff;
    border: 1px solid #e7e9fc;
}

.portfolio .portfolio-appname {
    font-weight: medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    color: #2e2f42;
}

.portfolio .portfolio-apptype {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    width: 1440px;
    height: 312px;
    background: #2e2f42;
}

.footer .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}